{{page-title 'FileList'}}

<SimpleTable
  @model={{this.model}}
  @selectedModel={{this.selectedFile}}
  @selection={{true}}
  @columns={{this.columns}}
>
  {{#if this.selectedFile}}
    <div
      role='button'
      class='pointer'
      {{on 'click' (fn (mut this.isModalOpen) true)}}
    >
      Download Selected
    </div>
  {{/if}}
</SimpleTable>

<SimpleModal
  @openModal={{this.isModalOpen}}
  @onClose={{fn (mut this.isModalOpen) false}}
>
  <div>
    <h2>
      Selected files
    </h2>
    <SimpleTable
      @model={{this.selectedFile}}
      @selection={{false}}
      @columns={{this.alertColumns}}
    />
  </div>

  <div>
    <h2>
      Available files to download
    </h2>
    {{#if this.downloadableFiles}}
      <SimpleTable
        @model={{this.downloadableFiles}}
        @selection={{false}}
        @columns={{this.alertColumns}}
      />
      <div class='p-t-20'>
        <button
          type='button'
          class='btn btn-primary p-t-20'
          {{on 'click' this.downloadAvailableFile}}
        >
          Download
        </button>
      </div>
    {{else}}
      No available files to download
    {{/if}}
  </div>
</SimpleModal>